<body>
    <head>
        <title>Leaderboard</title>
        <meta http-equiv="refresh" content="3">
    </head>

    <body>
        <table>
            <tr>
                <th>Username</th>
                <th>Kills</th>
                <th>Deaths</th>
                <th>Score</th>
            </tr>
            {{html|safe}}
        </table> <br>
    
        <a href=".">Go back</a>
    </body>

    <style>
        table, th, td {
          border:1px solid black;
          width: 100%;
        }
        </style>
</body>