<body>
    <head>
        <title>Leaderboard</title>
    </head>

    <body>
        <table>
            <tr>
                <th>Username</th>
                <th>Kills</th>
                <th>Deaths</th>
                <th>Score</th>
            </tr>
            {{html|safe}}
        </table> <br>
    
        <a href=".">Go back</a>
    </body>

    <style>
        table, th, td {
          border:1px solid black;
          width: 100%;
        }
        </style>
    
    <script>
        function check(response) {
            var current = "{{state|safe}}";

            console.log(current == response);

            if (current !== response) {
                console.log("Reloading..");
                window.location.reload();
            }
        }

        function request() {
            console.log("Checking server game state");

            const http = new XMLHttpRequest();

            http.open("GET", "/game/{{id}}/lastKnownState");
            http.send();

            http.onload = () => check(http.responseText);

            setTimeout(request, 500);
        }

        request();
    </script>
</body>