<!DOCTYPE html>

<body lang="en">
    <head>
        <title>Leaderboard</title>
        <noscript><meta http-equiv="refresh" content="5" ></noscript>
    </head>

    <body>
        <table>
            <tr class="header">
                <th>Pos.</th>
                <th style="width: 100%;">Username</th>
                <th>Kills</th>
                <th>Deaths</th>
                <th>Score</th>
            </tr>
            {{html|safe}}
        </table> <br>

        <noscript>Enable JavaScript for an optimal experience. <br><br></noscript>
    
        <div class="error" id="error">
            <p><b>Connection to the server has been lost.</b></p>
            <p style="color: gray;"><i>Attempting to reconnect...</i></p>
        </div>

        <a href=".">Go back</a>
    </body>

    <style>
        table, th, td {
          text-align: center;
          border:1px solid black;
        }

        .header {
            background-color: gray;
            color: white;
        }

        .error {
            background-color: black;
            background-image: linear-gradient(to bottom right, #000000, #313131);
            color: white;
            padding: 1% 1% 1% 1%;
            display: none;
            text-align: center;
        }
        </style>
    
    <script>
        var pause = false

        function check(response) {
            var current = "{{updateID|safe}}";

            console.log(current == response);
            document.getElementById("error").style.display= "none";

            if (current !== response) {
                console.log("Reloading..");
                window.location.reload();
            }
        }

        function request() {
            console.log("Checking server game state");

            const http = new XMLHttpRequest();

            http.open("GET", "/game/{{id}}/lastKnownStateID", true);
            http.timeout = 5000;
            
            http.onload = () => check(http.responseText);
            http.onerror = function () { document.getElementById("error").style.display= "block";; }

            http.send();

            setTimeout(request, 500);
        }

        request();
    </script>
</body>