<body>
    <head>
        <title>Register a new player</title>
    </head>

    <body>
        <h2>Register a new player</h2>

        <p style="color: red;">{{error}}</p>
        
        <form method="POST" action="/new">
            <table style="text-align: left;">

            <tr>
            <th>Your name:</th> <th><input type="text" name="username" maxlength="16"></th>
            </tr>

            <tr>
                <th>Text color:</th> <th><input type="color" name="textColor" value="#000000"></th>
            </tr>

            <tr>
            <th>Background color:</th> <th><input type="color" name="color" value="#ffffff"></th>
            </tr>

            <table>
            
            <input type="submit" value="Register">
        </form> <br> <br>
        
        <a href="/">Go back</a>
    </body>
</body>